#credits>h2 {
    font-size: 60px;
    /* background-color: var(--color-bg-dark);
    color: var(--color-white); */
}

.credits__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    align-items: center;
}

.credits__container>div {
    border-radius: 5px;
}

.left__container {
    border-radius: 3px;
}

.left__container>img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.right__container {
    padding: 2rem 1rem;
    color: var(--color-blue);
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}

.social__icons {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    justify-content: space-around;
    border-radius: 3px;
}

.social__icons a {
    color: var(--color-blue);
}

.social__icons a:hover {
    color: var(--color-yellow);
}

/* --------MEDIA QUERIES FOR MED DEVICES (medium: tablets)-------- */

@media screen and (max-width: 1024px) {
    .credits__container {
        margin-top: 0;
        grid-template-columns: 1fr;
    }
}

/* --------MEDIA QUERIES FOR SMALL DEVICES (small: mobile)-------- */

@media screen and (max-width: 600px) {
}