footer {
    background: var(--color-bg-dark);
    padding: 1rem 0;
    text-align: center;
} 

footer h3 {
    color: var(--color-white);
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto 1rem;
}

.permalinks a {
    color: var(--color-yellow);
}

.permalinks a:hover {
    color: var(--color-white);
}

.footer__copyright {
    margin-bottom: 3rem;
    color: var(--color-white);
    font-size: 10px;
}

.footer__copyright a {
    color: var(--color-white);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.footer__copyright a:hover {
    color: var(--color-yellow);
}

/* --------MEDIA QUERIES FOR SMALL DEVICES (small: mobile)-------- */

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1rem;
    }
}
