nav {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

nav a {
    padding: 0px 10px;
    color: var(--color-blue);
    box-shadow: inset 0 0 0 0 var(--color-yellow);
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 var(--color-yellow);
    color: var(--color-white);
}

/* --------MEDIA QUERIES FOR MED DEVICES (medium: tablets)-------- */

@media screen and (max-width: 1024px) {
  
}

/* --------MEDIA QUERIES FOR SMALL DEVICES (small: mobile)-------- */

@media screen and (max-width: 600px) {

}